params {
    input = null
    outdir = './results'
    input_format = 'triqler'
    input_file = null
    file_list_file = null
    fold_change_eval = 1
    decoy_pattern = 'decoy_'
    min_samples = 2
    missing_value_prior = 'default'
    num_threads = 0
    use_ttest = false
    write_spectrum_quants = false
    write_protein_posteriors = false
    write_group_posteriors = false
    write_fold_change_posteriors = false
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
